DATABASE_PUBLIC_URL=postgresql://USER:PASSWORD@HOST:PORT/railway
AWS_S3_BUCKET_NAME=your-private-firmware-bucket
AWS_ENDPOINT_URL=https://your-bucket-endpoint
AWS_DEFAULT_REGION=iad
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
